<table class="list-n w-100 bc-c">
    <tr class="ff-body fs-s c-black bb-black-5">
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">Association</th>
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">N° Siret</th>
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">N° RNA</th>
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">Contact</th>
    </tr>
    {% for orga in orgas|filter(orga => orga.valitated == true)%}
        <tr class="ff-body  c-black p-r {{ loop.last ? '' : 'bb-black-5' }}">
            <td class="fs-s c-blue fw-600 pt-1 pb-1"><a href="{{path('app_asso_info', {idOrga: orga.id})}}" class="link-action td-n c-blue">{{orga.organizationName|u.truncate(80, '...')}}</a></td>
            <td class="fs-xs pt-1 pb-1">{{orga.siret}}</td>
            <td class="fs-xs pt-1 pb-1">{{orga.rna}}</td>
            <td class="fs-xs pt-1 pb-1">
                {{orga.phoneNumber is defined and orga.phoneNumber is not empty ? orga.phoneNumber|replace({' ' : ''}) : '-'  }}
            </td>
        </tr>
    {% endfor %}
</table>