<section class="hero-page">
  <div class="hero-page-img w-100">
    <img class="hero-page-img w-100" src="{{ asset('build/images/Couverture.svg') }}" alt="Illustration" /> 
  </div>
  <div class=" hero-page-container ff-body c-blue-xdark ac-c ta-c pl-1c5 pr-1c5">
    <div class="text-hero-page">
      <h1>Solution <span class="yellow">d’Aide</span> numérique aux <span class="yellow">sans-abris</span></h1>
      <p class="sub-text-hero c-blue-xdark ff-body ta-c lh-24">La plateforme en ligne qui référence les lieux et services utiles et accessibles aux personnes en difficulté.</p>
    </div>
    <div class="d-f jc-c ac-c ta-c">
      <button type="button" class="hero-page-button f-body b-blue br-xxxl c-white bgc-blue fw-700 pt-1 pr-2c5 pb-1 pl-2c5 lh-24 m-1 mb-2 td-n" id="decouvrir-sansa">Découvrir SANSA</button>
    </div>
  </div>
  <div class="bcg-grey pl-1c5 pr-1c5 discover-sansa " href="#decouvrir-sansa">
  
    <h2 class="lh-24 ff-body fs-m c-black ta-c fw-700 pt-0c5">Pour lutter contre la précarité</h2>
    <h3 class="lh-24 ff-body fs-s ta-c c-black-60">Une application à votre disposition</h3>
    <div class="text-app-sansa">

      <p class="ff-body lh-24 ta-c fs-s c-black-40 text-app-sansa-desktop" > <span class="title-desktop d-n">Notre application mobile</span> C’est la plateforme en ligne qui référence les lieux et services utiles et accessibles aux personnes en difficulté. Il s’agit, avant tout, d’une solution élaborée en co-construction avec les bénéficiaires et acteurs de l’action sociale.
      <br>
      <br>
      La mission de SANSA est d’orienter toutes les personnes en situation difficile vers les structures qui pourraient les aider. Pour cela, nous mettons à disposition un outil ergonomique, simple et rapide d’utilisation.</p>

    <div class="homepage-img d-f jc-c mt-1 mb-1 w-100">
        <img src="{{ asset('build/images/tablet-iphone.svg') }}" alt="Tablette et telephone" />
    </div>
    </div>
    <div class="button-discover-sansa d-f jc-c ac-c ta-c">
      <button type="button" class="ff-body b-blue br-xxxl c-white bgc-blue fw-700 pt-1 pr-2c5 pb-1 pl-2c5 lh-24 m-1 mb-2 td-n">Découvrir l'application</button>
    </div>
  </div>
  <div class="tablet-location ff-body pl-1c5 pr-1c5">
    <h2 class=" tablet-location lh-24 fs-m c-black ta-c fw-700 mt-1c5">Les emplacements de nos bornes </h2>
    <p class="lh-24 ta-c fs-s c-black-60" >En plus de proposer une application disponible sur tous les stores, SANSA a disposé dans l’espace urbain des tablettes 20’’, placée dans des endroits stratégiques.
    <br>
    Notre but, que n’importe qui ayant besoin d’informations, mais ne disposant pas d’un smartphone où d’une connexion internet, puisse obtenir ce dont il a besoin.</p>
    <div class="homepage-location-img d-f jc-c mt-1 mb-1 w-100">
        <img class="map-hero-page-mobile d-n" src="{{ asset('build/images/tablet-location.png') }}" alt="localisation des bornes" />
        <img class="map-hero-page-desktop d-n" src="{{ asset('build/images/Map.png') }}" alt="localisation des bornes" />
    </div>
  </div>
  </div>
  <div class=" tablet-adress bcg-grey ff-body p-1c5 ">
    <h2 class="title-tablet-adresse lh-29c3 ff-body c-black ta-c fw-700 mb-1c5">Les adresses de nos bornes</h2>
    <div class="list-adress d-f fd-r">
    <ul class="ordered-adress p-0" style="list-style: none;" >
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >1 - Borne Gare de Lyon,</span> en face de la Pharmacie TGV, 75012 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >2 - Borne Gare d’Austerlitz,</span> à côté des casiers Amazon Hub Marguerite, 75013 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >3 - Borne Gare Montparnasse,</span> entre entrée Hall 1 et le café Bar Agora, 75015 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >4 - Borne Gare Saint Lazare,</span> hall d’entrée rue d’Amsterdam, proche boutique SNCF, 75008 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >5 - Borne Gare du Nord,</span>  bout du quai 21, 75010 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >6 - Borne Gare de Bercy,</span>  Sous le auvent à côté des jardins des terroirs, 75012 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >7 - Borne des Petits Frères,</span>  au bout de la cité Voltaire, 75011 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >8 - Borne SOS Habitat,</span>  11 Rue du Delta, 75009 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >9 - Borne La Clairière,</span>  Centre social La  clairière, 8 Rue des Prêcheurs, 75001 Paris</li>
      <li><span class="fw-700 lh-24 fs-s c-blue-dark" >10 - Borne Coallia,</span>  Coallia Hébergement, 8 Rue des Prêcheurs, 75001 Paris</li>
    </ul>
    <img class="tablet-adress-img d-n" src="{{ asset('build/images/world-connection.svg') }}" alt="localisation des bornes" />
    </div>
  </div>
  <div class="organisation-part pl-1c5 pr-1c5 pb-1c5  ff-body">
    <h2 class="sansa-assos lh-29c3 ff-body ta-c fw-700 c-blue-xdark ">Vous êtes une association ?</h2>
    <h3 class="sansa-assos-text lh-24 fs-m ta-c fw-700 mt-1c5 c-blue-xdark ">Vous aussi, vous pouvez apporter votre aide !</h3>
    <div class="login-assos d-f fd-c jc-c ai-c">
      <div class="create-account ta-c">
        <img src="{{ asset('build/images/create-account.png') }}" alt="illustration" />
        <p class="fs-s lh-24 fw-400 c-blue-xdark">1. Vous créez un compte <br> via votre ordinateur sur notre site</p>
      </div>
      <div class="validation-account ta-c">
        <img src="{{ asset('build/images/validation-account.png') }}" alt="illustration" />
        <p class="fs-s lh-24 fw-400 c-blue-xdark">2. On valide votre inscription <br> en moins de 48h</p>
      </div>
      <div class="account-validated ta-c">
        <img src="{{ asset('build/images/account-validated.png') }}" alt="illustration" />
        <p class="fs-s lh-24 fw-400 c-blue-xdark">3. Votre compte est validé <br> Vous êtes sur SANSA</p>
      </div>

    </div>
  </div>
  </div>
</div>
<div class="partner bgc-partner">
  <h2 class="lh-29c3 ff-body c-black-40 ta-c fw-700 mb-1c5 pt-1c5 m-2">Ils sont déjà sur SANSA</h2>
  <div class="d-f w-100 fw-w jc-se">
    <div class="image-container m-1">
      <img src="{{ asset('build/images/pfdp.png') }}" alt="Petits frères des pauvres"/>
    </div>
    <div class="image-container m-1">
      <img src="{{ asset('build/images/mairie_paris.png') }}" alt="Petits frères des pauvres"/>
    </div>
    <div class="image-container m-1">
      <img src="{{ asset('build/images/image_50.png') }}" alt="Petits frères des pauvres"/>
    </div>
    <div class="image-container m-1">
      <img src="{{ asset('build/images/resto-du-coeur.png') }}" alt="Petits frères des pauvres"/>
    </div>
    <div class="image-container m-1">
      <img src="{{ asset('build/images/aurore.png') }}" alt="Petits frères des pauvres"/>
    </div>
  </div>
</div>
</section>


