

<div class="p-a t-0 l-0 bgc-black-5-60 p-r h-100 w-100 d-n modal">
    <div class="bgc-white bs-light p-2c5 pt-1 pr-1 d-f jc-c ai-c fd-c br-15 p-a t-50 l-50 ttxy-n50">
        <span class="as-fe closeModal c-p">{% include '@App/img/close_cross.html.twig' %}</span>
        <img src="{{ asset('build/images/spotlight.png') }}" width="294" alt="spotlight" />
        <p class="ff-body fs-l c-black fw-700 ta-c mb-0c5">{{title}}</p>
        <p class="ff-body fs-s c-black-20 ta-c mb-2 m-0">{{subtitle}}</p>
        <div class="d-f ai-c">
            <p class="ff-body fw-700 c-blue m-0 b-blue br-xxxl pl-2 pt-1 pr-2 pb-1 mw-fc mr-1">Annuler</p>
            <a href={{path('app_users_delete', {id: id})}} class="td-n c-black"><p class="ff-body fw-700 c-white m-0 b-blue br-xxxl pl-2 pt-1 pr-2 pb-1 bgc-blue mw-fc">{{path}}</p></a>
        </div>
    </div>
</div>