<table class="list-n w-100 bc-c">
    <tr class="ff-body fs-s c-black bb-black-5">
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">Identifiant</th>
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">Contact</th>
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">N° de Téléphone</th>
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">Date d'inscription</th>
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">Dernière connexion</th>
        <th class="ta-l c-black-20 fw-400 pt-1 pb-1">Action</th>
    </tr>
    {% for user in users %}
        <tr class="ff-body fs-s c-black {{ loop.last ? '' : 'bb-black-5' }}">
            <td class="c-blue fw-600 pt-1 pb-1">{{user.username}}</td>
            <td class="pt-1 pb-1">{{user.email}}</td>
            <td class="pt-1 pb-1">{{user.tel}}</td>
            <td class="pt-1 pb-1">{{user.dateIncription|date("m/d/Y")}}</td>
            <td class="pt-1 pb-1">{{user.lastConnection|date("m/d/Y")}}</td>
            <td class="open-popup pt-1 pb-1 ta-c p-r">
                {% include '@App/img/pictos/three_dots.html.twig' %}
                <div class="popup bgc-white zi-9 p-a r-0 br-m bs-light d-n ta-l col-150 o-h">
                    <p class="pt-1 pl-1 pr-1 pb-0c5 m-0">Modifier</p>
                    <p class="pl-1 pr-1 pb-1 pt-0c5 m-0 openModal c-p">Supprimer</p>
                </div>
            </td>
        </tr>
        {% include '@App/Components/modal.html.twig' with 
            {'title': 'Êtes-vous sûr de vouloir supprimer cet utilisateur ?',
            'subtitle': 'Êtes-vous sûr de vouloir supprimer cet utilisateur ?',
            'path': 'app_users_delete',
            'id': user.id
            } 
        %}
    {% endfor %}
</table>

{{ encore_entry_script_tags('openPopup') }}
{{ encore_entry_script_tags('openModal') }}
